.btn-primary{
    @include button-variant($primary, $primary);
    color: $white;
}

.btn-white {
	background-color: $white;
	color: $gray-900;
}

.btn-cyan {
	background-color: $cyan;
    color: $white;
    &:hover {
    	background-color: $dark;
    }
}

.btn-md {
	padding: 5px 20px;
}

.btn-social-lg {
	width: 54px;
	height: 50px;
	text-align: center;
	padding: 0;
	.icon {
		font-size: 1.125rem;
		line-height: 50px;
	}
}