.modal-content {
	background-color: $primary;
	color: #fff;
		@media (min-width: 768px) {
			width: 60vw;
		}
	.close {
		display: flex;
    	justify-content: flex-end;
    	padding: 15px 20px;
    	color: #fff;
    	font-size: 15px;
	}
	.modal-title {
		justify-content: center;
		font-size: 48px;
		color: #fff;
		text-transform: uppercase;
	}
	
	.modal-body {
		padding: 0 20% 20% 20%;
			button + button {
				margin-top: 10px;
				@media (min-width: 576px) {
					margin-top: 0px;
				}
			}
		a {
			font-size: 18px;
			color: #fff;
			&:hover {
				color: $dark;
			}
		}
		form {
			input {
				padding: 10px 15px;
				& + input {
					margin-top: 10px;
				}
			}
			input::-webkit-input-placeholder {
			color: #fff;
			font-size: 14px;
			}
			input::-moz-placeholder {  /* Firefox 19+ */
			color: #fff;
			font-size: 14px;
			}
 
			input:-ms-input-placeholder {  
			color: #fff;
			font-size: 14px;
			}
			 .bg-dark-green {
				background-color: $dark-green;
				border: none;
				color: #fff;
			}
			.popup-btn-group {
				padding-top: 15px;
				button {
					// padding: 10px 40px;
					&[type="submit"] {
						font-size: 14px;
						text-transform: uppercase;
						font-weight: bold;
					}
				}
				.bg-dark-green {
					&:hover {
					color: $dark;
					}
				}
			}
		}
	}
}
