.navbar {
	padding-top: 0.7rem;
	padding-bottom: 0.7rem;
}

.navbar-expand-md {
	.navbar-nav {
		font-size: $small-font-size;
		font-weight: 500;

		@media (min-width: 768px) {
			margin-left: -1rem;
			margin-right: -1rem;
		}

		.nav-link {
			@media (min-width: 768px) {
				padding-left: 1rem;
				padding-right: 1rem;
			}
			&:hover {
				color: $primary;
			}
		}
	}
}