h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  &:last-child{
    margin-bottom: 0;
  }
}

h4, .h4{
  font-weight: $heading-4-font-weight;

}

h2, .h2{
  font-weight: bold;
}

// link

a{
  transition: 0.2s;
}